* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.sme-benefits {
  padding: 80px 80px;
}

.sme-benefits__container {
  
}

.sme-benefits__title {
  text-align: center;
  font-size: 36px;
  font-weight: 550;
  color: #0a2540;
  margin-bottom: 20px;
  margin-top: 50px;

}

.sme-benefits__subtitle {
  text-align: center;
  font-size: 16px;
  color: #6b7a90;
  margin-bottom: 48px;
}

.sme-benefits__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.sme-benefits__card {
  background: #E6FFE9;
  border-radius: 16px;
  padding: 26px 28px 24px 28px;
}

.sme-benefits__icon {
  width: 36px;
  height: 36px;
  margin-bottom: 14px;
}

.sme-benefits__icon img {
  width: 100%;
  height: 100%;
}

.sme-benefits__card h3 {
  font-size: 16px;
  margin-bottom: 8px;
  color: #0a2540;
}

.sme-benefits__card p {
  font-size: 16px;
  line-height: 1.6;
  color: #425466;
}

@media (max-width: 1024px) {
  .sme-benefits__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .sme-benefits__grid {
    grid-template-columns: 1fr;
  }
}
