* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.sme-why-us {
  padding: 80px 80px;
}

.sme-why-us__container {

}

.sme-why-us__title {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  color: #0a2540;
  margin-bottom: 20px;
}

.sme-why-us__subtitle {
  text-align: center;
  font-size: 16px;
  color: #6b7a90;
  margin-bottom: 48px;
}

.sme-why-us__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.sme-why-us__card {
  background: #f2f6ff;
  border-radius: 16px;
  padding: 28px;
}

.sme-why-us__icon{
  margin-bottom: 20px;
}

.sme-why-us__card h3 {
  font-size: 18px;
  margin-bottom: 20px;
  color: #0a2540;
}

.sme-why-us__card p {
  font-size: 16px;
  line-height: 1.6;
  color: #425466;
}

@media (max-width: 768px) {
  .sme-why-us__grid {
    grid-template-columns: 1fr;
  }
}
