.sectionthree {
  width: 100%;
  background: #ffffff;
  padding: 40px 0px;
}

.firstcard {
  background: linear-gradient(
    135deg,
    #9ff0ea 0%,
    #d8fbff 30%,
    #ffffff 55%,
    #e9fff5 80%,
    #bff5df 100%
  );
}

.firstcard button {
  background-color: #00AFA0;
}

.thirdcard button {
  background: linear-gradient(90deg, #2ee9c6 0%, #1fd1b2 45%, #10bfa0 100%);
}

.secondcard {
  background:
    radial-gradient(circle at left center, rgba(170,240,214,0.8), transparent 60%),
    radial-gradient(circle at bottom right, rgba(160,235,210,0.8), transparent 55%),
    #ffffff;
}

.secondcard button {
  background: rgba(2, 207, 114, 1);
}

.three h1 {
  margin-left: 40px;
  font-size: 36px;
  font-weight: 700;
  color: #0b1c3f;
  margin-bottom: 15px;
}

.three p {
  margin-left: 40px;
  color: #6b7a99;
  margin-bottom: 15px;
}

/* CAROUSEL CONTAINER */
.carousel-container {
  overflow: hidden;
  position: relative;
  padding: 0 40px;
  margin-bottom: 30px;
}

/* CARD WRAPPER */
.cards-wrapper {
  display: flex;
  gap: 30px;
  width: max-content;
  will-change: transform;
}

/* CARD */
.cardss {
  margin-top: 30px;
  width: 510px;
  min-width: 510px;
  height: 350px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 40px 35px;
  border-radius: 24px;
  background: linear-gradient(135deg, #e8fbff, #ffffff, #e8fff5);
  flex-shrink: 0;
  box-sizing: border-box;
}

/* soft dots effect */
.cardss::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: radial-gradient(#cfe7ff 1px, transparent 1px);
  background-size: 14px 14px;
  opacity: 0.3;
  border-radius: 24px;
  pointer-events: none;
}

.cardss img {
  position: relative;
  z-index: 2;
}

.cardss h1 {
  font-size: 22px;
  margin: 20px 0 12px;
  color: #0b1c3f;
  position: relative;
  z-index: 2;
  text-align: center;
}

.cardss p {
  font-size: 15px;
  color: #5f6f91;
  line-height: 1.6;
  position: relative;
  z-index: 2;
  text-align: center;
}

/* BUTTON */
.cardss button {
  margin-top: auto;
  border: none;
  color: white;
  padding: 20px 30px;
  border-radius: 30px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: transform 0.2s ease;
}

.cardss button:hover {
  transform: scale(1.05);
}

.cardss button img {
  width: 14px;
}

/* HOVER EFFECT */
.cardss:hover {
  transform: translateY(-6px);
  transition: transform 0.3s ease-out;
}